<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <div id="app">
        <h1> {{ title }} </h1>
        <a href="/" class="back"><--- Back</a>
                <h3>Select workbook:</h3>
                <div>
                    <input type="radio" name="a" id="">
                    <input type="radio" name="a" id="">
                    <input type="radio" name="a" id="">
                </div>
                <h3><span><i class="fa fa-plus-square-o add" aria-hidden="true"></i></span></h3>



                <form action="post" v-on:submit.prevent @submit="submit">
                    <input class="oper" type="text" v-model="formula">
                    <input type="submit" value="+">
                </form>

                <hr>
                <div v-for="formula in listOfFormulas">
                    <my-formula @deletedevent="refreshFormulas" :value="formula"></my-formula>
                </div>
    </div>
    <script src="options.js"></script>
</body>

</html>