body{
    padding-top: 0px;
    margin: 30px;
    background-color: #b7faff;
    font-family: Verdana;

}

.app{
    margin: 10%;
}


.digit{
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    align-content: center;
    position: relative;
    font-size: 30px;
    border-style: solid;
    width: 3ch;
    height: 3ch;
    background-color: #00d4fa;
    color: rgb(0, 0, 0);
}

.ok{
    background-color: #4CAF50;
}

.nok{
    background-color: red;
}

.sign{
    width: 19px;
    background-color: #008dc5;
    color: rgb(229, 255, 0);
    font-size: 33px;
}

.ans{
    align-items: center;
}

input[type=text] {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    font-size: 40px;
    background-color: #d9fcff;
}

input[type=text]:focus {
    background-color: lightblue;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    font-size: 20px;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 30px 40px 18px;
    margin-bottom: 10px;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: rgb(78, 202, 82);
    font-size: 20px;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 30px 40px 18px;
    margin-bottom: 10px;
}

.add {
    color: rgb(35, 99, 35);
}

.add:hover {
    color: rgb(60, 173, 60);
}

.options{
    color: rebeccapurple;
    width: 40px;
    font-size: 50px;
    position: absolute;
    right: 200px;
    top: 100px;
}

.options:hover{
    color: rgb(141, 73, 209);
    width: 40px;
    font-size: 50px;
    position: absolute;
    right: 200px;
    top: 100px;

}
.options:active{
    color: rgb(73, 209, 146);
    width: 40px;
    font-size: 50px;
    position: absolute;
    right: 200px;
    top: 100px;

}

/*  in options tab */

.oper{
    height: 67px;
    width: 590px !important;
    font-size: 25px !important;
}

.bsave{
    background-color:rgb(32, 161, 161) !important;
}
.bsave:hover{
    background-color:rgb(41, 182, 182) !important;
}

.bdelete{
    background-color:rgb(216, 78, 78) !important;
}
.bdelete:hover{
    background-color:rgb(228, 81, 81) !important;
}

.modified{
    background-color: rgb(74, 224, 230) !important;
}
